run = "npm run dev"
entrypoint = "index.js"
modules = ["nodejs-20:v9-20231020-a3526c9"]
hidden = [".config", "package-lock.json", ".next", ".swc"]

[nix]
channel = "stable-23_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33461
externalPort = 3002

[[ports]]
localPort = 34133
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 39583
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 44623
externalPort = 3000
